In [50]:
%matplotlib inline
import pandas as pd
import requests
from bs4 import BeautifulSoup
import sys
import numpy as np
import matplotlib.pyplot as plt
import pickle

<p><b> Task:</b></p>
    * Augment the patent data from previous cleaning with additional scrapped data
      from patents view site

In [ ]:
# import saved data sets cleaned previously 
# This is from the first cleaning  we did
merged_data_left  = pd.read_pickle('dataset.pkl')  #to read pickle
Group_by_country_year  = pd.read_pickle('Group_by_country_year_copy.pkl')  #to read pickle
merged_data_left_multi_index  = pd.read_pickle('merged_data_multi_Index.pkl')  #to read pickle

In [14]:
# This is the second query 
# use the url to query for a single year
# Note the specification of the query data
urlHome2 = 'http://www.patentsview.org/api/patents/query? \
            q={"_and":[{"_gte":{"patent_date":"2000-01-01"}},{"_lte":{"patent_date":"2000-12-31"}}]}'

Scrapping data from patents view

In [47]:
data_request = requests.get(urlHome2) # data from url
dataScraped = data_request.json() # safe data as topojson

In [49]:
dataScraped # view data set

{u'count': 25,
 u'patents': [{u'patent_id': u'6009555',
   u'patent_number': u'6009555',
   u'patent_title': u'Multiple component headgear system'},
  {u'patent_id': u'6009556',
   u'patent_number': u'6009556',
   u'patent_title': u'Bathing suit of changeable appearance for females'},
  {u'patent_id': u'6009557',
   u'patent_number': u'6009557',
   u'patent_title': u'Video game control glove'},
  {u'patent_id': u'6009558',
   u'patent_number': u'6009558',
   u'patent_title': u'Active wear garments'},
  {u'patent_id': u'6009559',
   u'patent_number': u'6009559',
   u'patent_title': u'Odor absorbing clothing'},
  {u'patent_id': u'6009560',
   u'patent_number': u'6009560',
   u'patent_title': u'Perforated reflective trim for use with garments'},
  {u'patent_id': u'6009561',
   u'patent_number': u'6009561',
   u'patent_title': u'Helmet with rotatable accessory mount and method of making the same'},
  {u'patent_id': u'6009562',
   u'patent_number': u'6009562',
   u'patent_title': u'Helmet with accessory mounting apparatus and method of making the same'},
  {u'patent_id': u'6009563',
   u'patent_number': u'6009563',
   u'patent_title': u'Sports safety helmet'},
  {u'patent_id': u'6009564',
   u'patent_number': u'6009564',
   u'patent_title': u'Optically corrected goggle'},
  {u'patent_id': u'6009565',
   u'patent_number': u'6009565',
   u'patent_title': u'Protective garment for the hip area'},
  {u'patent_id': u'6009566',
   u'patent_number': u'6009566',
   u'patent_title': u'Head and neck support for racing'},
  {u'patent_id': u'6009567',
   u'patent_number': u'6009567',
   u'patent_title': u'Inline sanitary conditioning system'},
  {u'patent_id': u'6009568',
   u'patent_number': u'6009568',
   u'patent_title': u'Opening-closing device of western style toilet seat and seat cover'},
  {u'patent_id': u'6009569',
   u'patent_number': u'6009569',
   u'patent_title': u'Toilet seat handle'},
  {u'patent_id': u'6009570',
   u'patent_number': u'6009570',
   u'patent_title': u'Convertible bed/chair with waste disposal'},
  {u'patent_id': u'6009571',
   u'patent_number': u'6009571',
   u'patent_title': u'Foldable commode'},
  {u'patent_id': u'6009572',
   u'patent_number': u'6009572',
   u'patent_title': u'Nonelectrical independent lifts'},
  {u'patent_id': u'6009573',
   u'patent_number': u'6009573',
   u'patent_title': u'Safety diffuser for pool suction inlet'},
  {u'patent_id': u'6009574',
   u'patent_number': u'6009574',
   u'patent_title': u'Method and apparatus for providing a pulsed water massage'},
  {u'patent_id': u'6009575',
   u'patent_number': u'6009575',
   u'patent_title': u'Foldable bed assembly'},
  {u'patent_id': u'6009576',
   u'patent_number': u'6009576',
   u'patent_title': u'Body-conforming wrapping article for infants'},
  {u'patent_id': u'6009577',
   u'patent_number': u'6009577',
   u'patent_title': u'Transformable travel pillow'},
  {u'patent_id': u'6009578',
   u'patent_number': u'6009578',
   u'patent_title': u'Seat cushion'},
  {u'patent_id': u'6009579',
   u'patent_number': u'6009579',
   u'patent_title': u'Filled topper and featherbed combination'}],
 u'total_patent_count': 100000}

The scrapped data above contain the patent title which is not  in the url.
    * We check for the particular patent in the merged patent data set 
    * Then add a title column
    * Note that we have duplicated values due to different country returned in sample code below

In [37]:
merged_data_left.loc[merged_data_left['PATENT']==6009552] # we choose patent value 60009552 
                                                          # checked if it is the merged data set
                                                         # As it can be observed it is in the data set

,PATENT,LASTNAM,FIRSTNAM,MIDNAM,MODIFNAM,GYEAR,GDATE,APPYEAR,COUNTRY,POSTATE,...,CRECEIVE,RATIOCIT,GENERAL,ORIGINAL,FWDAPLAG,BCKGTLAG,SELFCTUB,SELFCTLB,SECDUPBD,SECDLWBD
4301223,6009552,Ariel,Meir,NaN,NaN,1999,14606,1997.0,IL,NaN,...,0,1.0,NaN,0.48,NaN,12.6,0.2,0.2,NaN,NaN
4301224,6009552,Meidan,Reuven,NaN,NaN,1999,14606,1997.0,IL,NaN,...,0,1.0,NaN,0.48,NaN,12.6,0.2,0.2,NaN,NaN

In [5]:
homeSoup2.text # view the content

u'{"patents":null,"count":0,"total_patent_count":0}'

In [6]:
import re # import regular expression library. 
          # use regular expression to strip what was downloaded from beautiful soup

In [7]:
home = re.findall("\{(.*?)\}", homeSoup2.text)    # strip the content collected. Remove everything outside the 
                                                    # curly bracket
                                                    # importantly it removes the count and total patent count in the
                                                    # last line

In [8]:
home2  =  homeSoup2.text    # this returns a list 
                            # we can remove elements unwanted from the lisy
                            # we can keep this for the future

In [9]:
# This removes the {"patents" in the in the forst element of the list
if home[0].startswith('{'):
    home[0] = url[12:]

In [10]:
home # this is a list. Each item on the list can then be reprocessed. And put in data frame for each year

[u'"patents":null,"count":0,"total_patent_count":0']

,PATENT,LASTNAM,FIRSTNAM,MIDNAM,MODIFNAM,GYEAR,GDATE,APPYEAR,COUNTRY,POSTATE,...,CRECEIVE,RATIOCIT,GENERAL,ORIGINAL,FWDAPLAG,BCKGTLAG,SELFCTUB,SELFCTLB,SECDUPBD,SECDLWBD
0,3858241,Durand,Philip,E.,NaN,1975,5485,1974.0,US,MA,...,0,0.6000,NaN,0.0000,NaN,27.0000,1.0000,0.2000,NaN,NaN
1,3858241,Norris,Lonnie,H.,NaN,1975,5485,1974.0,US,MA,...,0,0.6000,NaN,0.0000,NaN,27.0000,1.0000,0.2000,NaN,NaN
2,3858242,Gooding,Elwyn,R.,NaN,1975,5485,1973.0,US,MI,...,12,0.7500,0.1528,0.0000,11.0833,16.2500,NaN,NaN,NaN,NaN
3,3858243,Pierron,Claude,Raymond,NaN,1975,5485,1973.0,FR,NaN,...,2,0.8571,0.0000,0.2778,6.0000,8.1429,0.0000,0.0000,0.0,0.0
4,3858243,Jenny,Jean,Paul,NaN,1975,5485,1973.0,FR,NaN,...,2,0.8571,0.0000,0.2778,6.0000,8.1429,0.0000,0.0000,0.0,0.0
5,3858243,Zuccaro,Robert,NaN,NaN,1975,5485,1973.0,FR,NaN,...,2,0.8571,0.0000,0.2778,6.0000,8.1429,0.0000,0.0000,0.0,0.0
6,3858244,Mann,Richard,L.,NaN,1975,5485,1973.0,US,CT,...,2,0.0000,0.5000,NaN,10.0000,54.5000,NaN,NaN,NaN,NaN
7,3858245,Nate,Michael,A.,II,1975,5485,1972.0,US,NY,...,11,0.8571,0.4959,0.2778,6.4545,9.2857,0.0000,0.0000,0.0,0.0
8,3858245,Mann,Maurice,A.,NaN,1975,5485,1972.0,US,NY,...,11,0.8571,0.4959,0.2778,6.4545,9.2857,0.0000,0.0000,0.0,0.0
9,3858246,Milo,Simcha,NaN,NaN,1975,5485,1973.0,US,TX,...,5,1.0000,0.4800,0.4444,16.8000,5.0000,NaN,NaN,NaN,NaN
10,3858247,Bauman,Jack,NaN,NaN,1975,5485,1973.0,US,CA,...,7,0.6000,0.2449,0.0000,10.4286,15.2000,NaN,NaN,NaN,NaN
11,3858248,Crowe,Sylvester,L.,NaN,1975,5485,1973.0,US,IN,...,3,0.7500,0.0000,0.0000,21.3333,7.5000,NaN,NaN,NaN,NaN
12,3858249,Howard,Durrell,Unger,NaN,1975,5485,1973.0,US,TX,...,13,0.8571,0.0000,0.0000,10.6923,6.1429,NaN,NaN,NaN,NaN
13,3858250,Coglitore,Anthony,NaN,NaN,1975,5485,1973.0,US,NY,...,9,0.6250,0.0000,0.0000,12.3333,10.8750,NaN,NaN,NaN,NaN
14,3858251,Vollrath,Walter,J.,NaN,1975,5485,1973.0,US,WI,...,3,0.5714,0.4444,0.0000,3.3333,23.7143,1.0000,0.1429,0.0,0.0
15,3858251,Vollrath,Richard,J.,NaN,1975,5485,1973.0,US,WI,...,3,0.5714,0.4444,0.0000,3.3333,23.7143,1.0000,0.1429,0.0,0.0
16,3858251,Virnoche,Paul,R.,NaN,1975,5485,1973.0,US,WI,...,3,0.5714,0.4444,0.0000,3.3333,23.7143,1.0000,0.1429,0.0,0.0
17,3858251,Turk,Joseph,NaN,NaN,1975,5485,1973.0,US,WI,...,3,0.5714,0.4444,0.0000,3.3333,23.7143,1.0000,0.1429,0.0,0.0
18,3858251,Gerdes,Paul,E.,NaN,1975,5485,1973.0,US,WI,...,3,0.5714,0.4444,0.0000,3.3333,23.7143,1.0000,0.1429,0.0,0.0
19,3858251,Singer,Roy,W.,NaN,1975,5485,1973.0,US,WI,...,3,0.5714,0.4444,0.0000,3.3333,23.7143,1.0000,0.1429,0.0,0.0
20,3858252,Ejchorszt,Olgierd,Z.,NaN,1975,5485,1973.0,US,CA,...,4,0.2500,0.3750,0.5000,5.5000,28.7500,NaN,NaN,NaN,NaN
21,3858253,Lauzon,Adrian,A.,NaN,1975,5485,1973.0,CA,NaN,...,9,0.2000,0.3704,0.0000,13.2222,20.4000,NaN,NaN,NaN,NaN
22,3858254,Coomes,Edmund,S.,NaN,1975,5485,1973.0,US,CA,...,4,0.3333,0.3750,0.0000,14.2500,11.0000,NaN,NaN,NaN,NaN
23,3858255,Purves,George,T.,Jr.,1975,5485,1973.0,US,IN,...,1,0.5000,0.0000,0.0000,4.0000,13.0000,NaN,NaN,NaN,NaN
24,3858256,Beer,Andrew,E.,NaN,1975,5485,1972.0,US,NY,...,11,0.5000,0.3140,0.5000,13.6364,21.7500,NaN,NaN,NaN,NaN
25,3858257,Young,Samuel,NaN,NaN,1975,5485,1973.0,US,CT,...,7,0.6000,0.4490,0.0000,15.8571,13.0000,NaN,NaN,NaN,NaN
26,3858258,Stevens,Peter,S.,NaN,1975,5485,1974.0,US,CA,...,7,0.0000,0.2449,NaN,20.1429,52.5000,NaN,NaN,NaN,NaN
27,3858259,Renfrew,Edgar,Earl,NaN,1975,5485,1972.0,US,PA,...,0,1.0000,NaN,0.0000,NaN,7.0000,0.0000,0.0000,NaN,NaN
28,3858259,Genta,Guido,Ruggiero,NaN,1975,5485,1972.0,US,PA,...,0,1.0000,NaN,0.0000,NaN,7.0000,0.0000,0.0000,NaN,NaN
29,3858260,Hanser,Paul,Edmond,NaN,1975,5485,1973.0,US,IL,...,2,0.4444,0.5000,0.3750,9.0000,15.1111,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4301199,6009542,Langer,Diana,NaN,NaN,1999,14606,1998.0,US,MA,...,0,1.0000,NaN,0.0000,NaN,6.5000,0.0000,0.0000,NaN,NaN
4301200,6009542,Proch,Timothy,NaN,NaN,1999,14606,1998.0,US,MA,...,0,1.0000,NaN,0.0000,NaN,6.5000,0.0000,0.0000,NaN,NaN
4301201,6009543,Shavit,Nir,N.,NaN,1999,14606,1997.0,US,MA,...,0,1.0000,NaN,0.5139,NaN,3.6667,0.0000,0.0000,NaN,NaN
4301202,6009544,Nara,Yoshikazu,NaN,NaN,1999,14606,1998.0,JP,NaN,...,0,1.0000,NaN,0.0000,NaN,6.0000,0.0000,0.0000,NaN,NaN
4301203,6009545,Tsutsui,Toshikazu,NaN,NaN,1999,14606,1998.0,JP,NaN,...,0,1.0000,NaN,0.7407,NaN,6.6667,0.1111,0.1111,NaN,NaN
4301204,6009545,Koyama,Tohru,NaN,NaN,1999,14606,1998.0,JP,NaN,...,0,1.0000,NaN,0.7407,NaN,6.6667,0.1111,0.1111,NaN,NaN
4301205,6009545,Ohta,Fumihito,NaN,NaN,1999,14606,1998.0,JP,NaN,...,0,1.0000,NaN,0.7407,NaN,6.6667,0.1111,0.1111,NaN,NaN
4301206,6009545,Mukogawa,Yasukazu,NaN,NaN,1999,14606,1998.0,JP,NaN,...,0,1.0000,NaN,0.7407,NaN,6.6667,0.1111,0.1111,NaN,NaN
4301207,6009545,Furuta,Masaaki,NaN,NaN,1999,14606,1998.0,JP,NaN,...,0,1.0000,NaN,0.7407,NaN,6.6667,0.1111,0.1111,NaN,NaN
4301208,6009545,Mashiko,Yohji,NaN,NaN,1999,14606,1998.0,JP,NaN,...,0,1.0000,NaN,0.7407,NaN,6.6667,0.1111,0.1111,NaN,NaN
4301209,6009546,Kuglin,Philip,Theodore,NaN,1999,14606,1998.0,US,OR,...,0,1.0000,NaN,0.4063,NaN,7.0000,0.0000,0.0000,NaN,NaN
4301210,6009546,Gruodis,Algirdas,Joseph,NaN,1999,14606,1998.0,US,OR,...,0,1.0000,NaN,0.4063,NaN,7.0000,0.0000,0.0000,NaN,NaN
4301211,6009547,Jaquette,Glen,Alan,NaN,1999,14606,1997.0,US,AZ,...,0,1.0000,NaN,0.4938,NaN,4.8889,0.0000,0.0000,NaN,NaN
4301212,6009547,Washburn,Gordon,Leon,NaN,1999,14606,1997.0,US,AZ,...,0,1.0000,NaN,0.4938,NaN,4.8889,0.0000,0.0000,NaN,NaN
4301213,6009548,Chen,Chin-Long,NaN,NaN,1999,14606,1998.0,US,NY,...,0,1.0000,NaN,0.2551,NaN,6.1429,0.3571,0.3571,NaN,NaN
4301214,6009548,Dell,Timothy,Jay,NaN,1999,14606,1998.0,US,NY,...,0,1.0000,NaN,0.2551,NaN,6.1429,0.3571,0.3571,NaN,NaN
4301215,6009548,Kwan,Wayne,C.,NaN,1999,14606,1998.0,US,NY,...,0,1.0000,NaN,0.2551,NaN,6.1429,0.3571,0.3571,NaN,NaN
4301216,6009549,Bliss,William,G.,NaN,1999,14606,1997.0,US,CO,...,0,1.0000,NaN,0.6420,NaN,4.1111,0.5000,0.4444,NaN,NaN
4301217,6009549,Zook,Christopher,P.,NaN,1999,14606,1997.0,US,CO,...,0,1.0000,NaN,0.6420,NaN,4.1111,0.5000,0.4444,NaN,NaN
4301218,6009549,Behrens,Richard,T.,NaN,1999,14606,1997.0,US,CO,...,0,1.0000,NaN,0.6420,NaN,4.1111,0.5000,0.4444,NaN,NaN
4301219,6009550,Gosula,Venkata,Raja,NaN,1999,14606,1997.0,US,CA,...,0,1.0000,NaN,0.5938,NaN,1.7500,0.1250,0.1250,NaN,NaN
4301220,6009550,Lee,Schweiray,Joseph,NaN,1999,14606,1997.0,US,CA,...,0,1.0000,NaN,0.5938,NaN,1.7500,0.1250,0.1250,NaN,NaN
4301221,6009550,Williamson,Clifton,James,NaN,1999,14606,1997.0,US,CA,...,0,1.0000,NaN,0.5938,NaN,1.7500,0.1250,0.1250,NaN,NaN
4301222,6009551,Sheynblat,Len,NaN,NaN,1999,14606,1998.0,US,CA,...,0,1.0000,NaN,0.5000,NaN,3.0000,1.0000,1.0000,NaN,NaN
4301223,6009552,Ariel,Meir,NaN,NaN,1999,14606,1997.0,IL,NaN,...,0,1.0000,NaN,0.4800,NaN,12.6000,0.2000,0.2000,NaN,NaN
4301224,6009552,Meidan,Reuven,NaN,NaN,1999,14606,1997.0,IL,NaN,...,0,1.0000,NaN,0.4800,NaN,12.6000,0.2000,0.2000,NaN,NaN
4301225,6009553,Martinez,Dennis,NaN,NaN,1999,14606,1997.0,US,MA,...,0,1.0000,NaN,0.7778,NaN,10.9167,0.0000,0.0000,NaN,NaN
4301226,6009553,Hengeveld,Thomas,NaN,NaN,1999,14606,1997.0,US,MA,...,0,1.0000,NaN,0.7778,NaN,10.9167,0.0000,0.0000,NaN,NaN
4301227,6009553,Axford,Michael,NaN,NaN,1999,14606,1997.0,US,MA,...,0,1.0000,NaN,0.7778,NaN,10.9167,0.0000,0.0000,NaN,NaN
4301228,6009554,Balliet,James,B.,NaN,1999,14606,1997.0,US,NY,...,0,1.0000,NaN,NaN,NaN,12.7778,0.1111,0.1111,NaN,NaN